<mat-toolbar class="header">
  <mat-toolbar-row>
    <mat-icon class="example-icon" [matMenuTriggerFor]="menu" [ngStyle.gt-xs]="{'display': 'none'}">menu</mat-icon>
    <mat-menu #menu="matMenu" [ngStyle.gt-xs]="{'display': 'none'}">
      <button mat-menu-item routerLink="/projects">Projects</button>
      <button mat-menu-item routerLink="/products">Products</button>
      <button mat-menu-item routerLink="/favourites">Favourites</button>
    </mat-menu>
    <span [ngStyle.xs]="{'display': 'none'}">
      <a mat-list-item routerLink="/projects" [ngClass]="{'active': this.router.url === '/projects'}">Projects</a>
      <a mat-list-item routerLink="/products" [ngClass]="{'active': this.router.url === '/products' || this.router.url === '/'}">Products</a>
      <a mat-list-item routerLink="/favourites" [ngClass]="{'active': this.router.url === '/favourites'}">Favourites</a>
    </span>
    <span class="example-spacer"></span>
    <div class="user">
      <span>Jane Doe</span>
      <img src="../../images/default_large.png" alt="">
    </div>
  </mat-toolbar-row>
</mat-toolbar>
