.mat-toolbar {
  background: transparent;
}

.header {
  text-transform: uppercase;
  z-index: 1;
  position: relative;
  a, span {
    padding: 0 10px;
    text-decoration: none;
    font-size: 14px;
    color: #848484;
    &.active {
      color: #e23a2b;
      font-weight: 600;
    }
  }
  .user {
    float: right;
    margin: 0;
    padding-right: 20px;
    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      float: right;
      top: 2px;
      position: relative;
    }
  }
}

.example-icon {
  padding: 0 14px;
  cursor: pointer;
}

.example-spacer {
  flex: 1 1 auto;
}
