<div class="prod-nav">
  <h3>Browse</h3>
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
      <button mat-icon-button disabled></button>
      <span *ngIf="node.type === ''">{{node.filename}}</span>
      <span *ngIf="node.type !== ''">{{node.type}}</span>
    </mat-tree-node>
  
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
      <button mat-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
        <mat-icon class="mat-icon-rtl-mirror"> {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
        <b *ngIf="treeControl.isExpanded(node)">{{node.filename}}</b>
        <span *ngIf="!treeControl.isExpanded(node)">{{node.filename}}</span>
      </button>
    </mat-tree-node>
  </mat-tree>
</div>
