<!--The content below is only a placeholder and can be replaced.-->
<section class="overlays" *ngIf="this.router.url === '/products' || this.router.url === '/'">
    <div class="dot-pattern right1" > </div>
    <div class="dot-pattern right2"> </div>
    <div class="dot-pattern left1" > </div>
    <div class="dot-pattern left2" > </div>

    <div class="box-pattern left" ></div>
    <div class="box-pattern right"></div>
</section> 
<router-outlet></router-outlet>

<footer>
    <p>Copy rights 28 lightbulbs 2018-2019</p>
    <p>Made with <span>❤ </span> <a href="http://www.twitter.com/stuffincode">@stuffincode</a></p>
</footer>

