.overlay {
    position: fixed;
    z-index: 0;
}
.dot-pattern {
    position: absolute;
    background-image: url('../../images/home-dots.svg');
    background-size: 20px;
    height: 500px;
    z-index: 0;
    &.right1 {
        width: 600px;
        top: 0;
        right: 0;
    }
    &.right2 {
        width: 400px;
        top: 900px;
        right: 0;
        bottom: 0;
        @media only screen and (min-width: 200px) and (max-width: 514px) { display: none; }
    }
    &.left1 {
        width: 200px;
        left: 0;
        top: 250px;
        @media only screen and (min-width: 200px) and (max-width: 514px) { display: none; }
    }
    &.left2 {
        width: 400px;
        top: 800px;
        left: 0;
        @media only screen and (min-width: 200px) and (max-width: 514px) { display: none; }
    }
}

.box-pattern {
    z-index: 0;
    position: absolute;
    background-color: #fff;
    height: 500px;
    &.right {
        width: 300px;
        top: 700px;
        right: 0;
    }
    &.left {
        width: 400px;
        top: 550px;
        left: 0;
    }
}

footer {
    position: relative;
    text-align: center; background: #fff;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    z-index: 1;
    p {
        span {
            color: red;
        }
        a {
            text-decoration: none;
        }
    }
    &.fixfooter {
        width: 100%;
        position: absolute;
        bottom: 0;
    }
}
