$break-mid: 200px;
$break-small: 314px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (min-width: $break-mid) and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

app-product-nav {
    min-width: 280px;
    color: #676767;
    @include respond-to(medium-screens) { min-width: 180px; }
}

.prod-nav{ 
    padding-top: 27px;
    z-index: 1;
}

.subhead {
    font-size: 12px;
    text-transform: uppercase
}

h2 {
    margin-top: 5px; 
}

.spacer {
    flex: 1 1 auto;
}

.minimist {
    width: 100%;
    color: #676767;   
    @include respond-to(medium-screens) { 
        margin-left: 0 !important;    
    }
}

.offset {
    margin-left: -15px;
}

.fwrap{
    flex-wrap: wrap;
}

.mcard {
    margin: 10px 0;
    background: transparent;
    box-shadow: none !important;
    width: calc(50% - 53px);
    @include respond-to(medium-screens) { 
        width: calc(100% - 50px);
    }
    &:nth-child(even) {
        margin-right: 0 !important;
    }
    &:hover {
        background: #fff;
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12) !important;
    }
    .card-head {
        font-size: 18px;
        font-size: 20px;
        color: #676767;    
    }
}