<app-header></app-header>

<div class="content">
    <!-- Navigation -->
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start stretch">
      <app-product-nav class="prod-nav"></app-product-nav>
      <!-- Content -->
      <div class="content minimist">
        <span class="subhead">28 Products</span>
        <h2>Dining Sets</h2>
        <!-- Action section: filters and search -->
        <div>
          <button mat-button class="offset">
            <mat-icon style="padding-right: 10px">filter_list</mat-icon>
            <span>Filters</span>
          </button>
          <span class="spacer" fxFlex="1 2 100%"></span>
          <button mat-icon-button style="float:right"><mat-icon>search</mat-icon></button>
        </div>
        <br>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" class="fwrap" [@listAnimations]='products.length'>
          
          <mat-card class="mcard" *ngFor="let product of products">
            <img mat-card-image src="{{product.src}}" alt="'Contempo' Side Table">
            <mat-card-subtitle>{{product.name}}</mat-card-subtitle>
            <mat-card-title class="card-head">{{product.title}}</mat-card-title>
            <mat-card-subtitle>{{product.price}}</mat-card-subtitle>
          </mat-card>

        </div>
      </div>
    </div>
    
</div>
