@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  background: #f7f7f7;
  font-family: 'Roboto', sans-serif;
}

.content {
  margin: 1rem 2.3em;
}
